.title {
  text-align: center;
}
.container {
  display: flex;
}
.container button {
    width: 70px;
  color: #fff;
  background-color: #6d28d9;
  border: 1px solid #6d28d9;
  border-radius: 0px 5px 5px 0;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.container input {
  border-radius: 5px 0px 0px 5px;
  padding: 10px 20px;
  outline: none;
}
.container input:focus {
  border: 2px solid #6d28d9;
}

